* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FF8C00, #FFD700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;  /* Centraliza a logo e adiciona um espaço abaixo */
    max-width: 150px;  /* Define o tamanho máximo da logo */
    height: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    background-color: #FF8C00;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FFA500;
}

.extra-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.extra-links a {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
}

.extra-links a span {
    color: #007BFF;
    font-weight: bold;
}

.extra-links a:hover span {
    text-decoration: underline;
}
.flash-messages {
    margin: 10px 0;
    padding: 10px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #f44336;
}



/* Estilo do contêiner do formulário */
.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center; /* Centraliza todo o conteúdo dentro do formulário */
}

/* Ajustes nos grupos de formulário */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left; /* Mantém os labels e inputs alinhados à esquerda */
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Botão de envio */
button {
    background-color: #FFB75E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Largura total do botão */
    max-width: 200px; /* Limita a largura do botão */
    text-align: center;
    margin-top: 20px; /* Espaço entre o botão e o conteúdo acima */
}

button:hover {
    background-color: #ED8F03;
}

/* Link de voltar ao dashboard */
.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #ED8F03;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #ED8F03; /* Adiciona uma borda ao redor do link */
    border-radius: 20px;
    cursor: pointer;
}

.back-link:hover {
    background-color: #FFB75E;
    color: white;
    text-decoration: none;
}

/* Contêiner dos botões */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 15px; /* Espaçamento entre o botão de enviar e o link de voltar */
    margin-top: 20px;
}
